.hero {
    background: url('/styles/foto/hero3.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 5rem 1rem;
    position: relative;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.about-hero {
    background: url('/styles/foto/hero3.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
    font-size: 3rem;
    position: relative;
    z-index: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
}

.about-content {
    padding: 2rem 3rem;
    background-color: #1f1f1f;
    margin: 2rem 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.about-content h2 {
    color: #007BFF;
    margin-top: 1rem;
}

footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-top: 1px solid #444;
}

footer p {
    margin: 0.5rem 0;
}

button {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
    header, .hero, .about-content, footer {
        padding: 1rem;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 0.5rem 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero button {
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        padding: 2rem 1rem;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero button {
        padding: 0.5rem;
    }
}
